/* ################################################################################################################# */
/* STYLE PAGE SIGNALER */
/* ################################################################################################################# */

.signaler-container{
    display: flex;
    padding: 10px 30px;
    width: 100%;
}
.signaler-container .description{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-top: 20px;
    position: relative;


}
.signaler-container .description .retour-acceuil a{
    color: var(--bgCardsColor);
    padding: 10px;
    border-radius: 5px;
    background-color: var(--colorTitreMain);
    font-size: 1rem;
    font-weight: bold;

}

.signaler-container .description .retour-acceuil:hover a{
    transition: all .3s ease;
    opacity: .7;
}
.signaler-container .description .retour-acceuil{
    position: absolute;
    bottom: 20px;
    left: 0;
    padding: 10px;
    cursor: pointer;

}

.signaler-container .description
.titre h1 {
    font-size: 1.2rem;
    color: var(--bleuPrincipal);
    

}

.signaler-container .description
h2{
    color: var(--colorTitreMain);
    padding: 10px;

}



.signaler-container .description
.titre .tiret {
    height: 2px;
    width: 50px;
    background-color: var(--bleuPrincipal);
    margin-right: 6px;
}
.signaler-container .description
.titre{
    display: flex;
    align-items: center;
}

.signaler-container .formulaire-signaler{
    
    width: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.signaler-container .formulaire-signaler .categories{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 10px;
    padding: 10px 0;

}

.signaler-container .formulaire-signaler .categories .cards-categories{
    background-color: var(--bgCardsColor);
    border: var(--bleuPrincipal);
    /* box-shadow: 0px 10px 13px 7px rgb(30, 75, 238,0.1); */
    cursor: pointer;
    color: var(--colorTitreMain);
    font-weight: bold;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;

}

.signaler-container .formulaire-signaler .categories .cards-categories:hover{
    border: 2px solid var(--bleuPrincipal);
    transition: all .3s ease;
}

.signaler-container .formulaire-signaler .categories .cards-categories input[type = "radio"]{
    display: none;
}

.signaler-container .formulaire-signaler .categories .cards-categories:has(input[type = "radio"]:checked){
    background-color: var(--Bleubg);
    border: 2px solid var(--bleuPrincipal);
    transition: all .3s ease;
}

.signaler-container .formulaire-signaler .input-description{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.signaler-container .formulaire-signaler .input-description label,
.signaler-container .formulaire-signaler .input-description textarea
{
    color: var(--colorTitreMain);
}

.signaler-container .formulaire-signaler .input-description textarea{
    background-color: transparent;
    font-weight: 600;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid var(--colorTitreMain);
    border-radius: 1rem;
    outline: none;
    resize: none;
    

}

.formulaire-signaler label{
    color: var(--colorTitreMain);
    font-size: 1.1rem;
}

.formulaire-signaler p{
    color: var(--bleuPrincipal);
}

.signaler-container .formulaire-signaler .input-photo{
    width: 100%;
    height: 75px;
    background-color: transparent;
    border-radius: 1rem;
    border: 3px dashed var(--Bleubg);
    margin: 15px 0 ;
    display: flex;
    align-items: center;
    justify-content: center;

}

.signaler-container .formulaire-signaler .input-photo label{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* color: var(--colorTitreMain); */
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;

}

.signaler-container .formulaire-signaler .input-photo input[ type = 'file' ]{
    display: none;
} 
.signaler-container .formulaire-signaler .input-photos-container{
    margin-top: 14px;
}



.signaler-container .formulaire-signaler  button{
    background-color: var(--Bleubg);
    border: 2px solid var(--bleuPrincipal);
    padding: 12px;
    border-radius: 1rem;
    width: 100%;
    color: var(--colorTitreMain);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;
}

.signaler-container .formulaire-signaler  button:hover{
    transition: all .3s ease;
    opacity: 0.8;
 
}

.formulaire-signaler form .erreur{
    color: var(--rouge);
    font-weight: bold;
    font-size: 1rem;
}

.succes-signaler{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(6px);
 
}

.succes-signaler .succes-container{
    background-color: var(--bgPageColor);
    padding: 30px ;
    width: 45%;
    border: 3px solid var(--border-fort);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;

}

.succes-container h1{
    color: var(--vert);
    font-size: 1.6rem;
    font-weight: bold;
    padding: 10px 0;
}


.succes-container p{
    color: var(--colorSousTitres);
    font-weight: 600;
    padding: 0 15px 10px 15px;
}

.succes-container .succes-container-link{

    margin: 20px  15px;
   
    
}

.succes-container .succes-container-link a{
    padding: 6px 10px ;
    border-radius: 7px;
    font-weight: bold;
    transition: all .3s ease;
}



.succes-container .succes-container-link a:first-child{
    background-color: var(--colorTitreMain);
    color: var(--bgPageColor);

}

.succes-container .succes-container-link a:first-child:hover,
.succes-container .succes-container-link a:last-child:hover
{
    opacity: 0.5;
}
.succes-container .succes-container-link a:last-child{
    background-color: transparent;
    color: var(--colorTitreMain);
    border: 2px solid var(--border-fort);
    margin: 0 10px;

}
